<ion-header>
  <ion-navbar>
    <ion-title>{{'PURCHASE' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentRadioPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<ion-item>
    <ion-label>Group by</ion-label>
    <ion-select interface="popover" [(ngModel)]="groupBy">
      <ion-option value="location">Order Location</ion-option>
      <ion-option value="owner">Order Owner</ion-option>
    </ion-select>
  </ion-item>-->
  <ion-item-group *ngFor="let group of listGroup">
    <ion-item-divider color="light">{{group[0][groupBy]}}</ion-item-divider>
    <ion-item *ngFor="let item of group">
      <ion-label>{{item.name}}/{{(groupBy === 'owner')?item.location:item.owner}}</ion-label>
      <ion-checkbox [(ngModel)]="item.purchased"></ion-checkbox>
    </ion-item>
  </ion-item-group>
</ion-content>
