<ion-header>
  <ion-navbar>
    <ion-title>{{'SHIPPING' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentRadioPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group *ngFor="let group of listGroup">
    <ion-item-divider color="light">{{group[0][groupBy]}}</ion-item-divider>
    <button ion-item detail-none *ngFor="let item of group" [navPush]="pushPage" [navParams]="{item:item}">
      <ion-label>{{item.name}}/{{item.owner}}</ion-label>
      <ion-badge *ngIf="item.trackNo.length > 0" item-end color="primary">{{'SHIPPED' | translate}}</ion-badge>
    </button>
  </ion-item-group>


<!--
  <ion-list>
    <button ion-item detail-none *ngFor="let item of utils.getShippingList()" [navPush]="pushPage" [navParams]="{item:item,showCost:true}">
      <ion-label>{{item.name}}/{{item.owner}}</ion-label>
      <ion-badge *ngIf="item.trackNo.length > 0" item-end color="primary">{{'SHIPPED' | translate}}</ion-badge>
    </button>
  </ion-list>
-->
</ion-content>

